<style>
  .ProductPage{
    display: inline-block;
  }
  .ProductForm{
    float: left;
    display: inline-block;
    padding: 10px;
    width: 30%;
  }
  h1{
    width: 100%;
    display: inline-block;
    float: left;
  }
  .modal-content{
    width: 130%;
    margin: 10px;
  }

</style>

<div class="row justify-content-center between align-items-center">
<partial name="_NavPartial" />
</div>



<h1>All Products Page</h1>


<div>
  <partial name="_ProductForm" />  
  <partial name="_CheckoutPartial" />
</div>

<div class="ProductPage">
</div>

@if(TempData["QtyError"] != null)
{
    <h3>@TempData["QtyError"]</h3>
}
@foreach(var product in @ViewBag.allproducts)
{ <div>  
   @product.ProductName @product.ProductName
    $ @product.Price
    <a href="addtocart/@product.ProductId">Add To Cart</a>
    <img src="@product.ImageUrl" alt="igUrl" height="50px" width="50px">
  </div>
}




